#tuples

In [4]:
#tuples
a = (1, 2, 3)
print(a) # (1, 2, 3)
print(type(a)) # <class 'tuple'>

(1, 2, 3)
<class 'tuple'>

In [5]:
print(a[0]) # 1
print(a[1]) # 2
print(a[2]) # 3

1
2
3

In [6]:
#string in tuple
b = ("Hello", "world")
print(b) # ('Hello', 'world')
print(b[0]) # Hello
print(b[1]) # world

('Hello', 'world')
Hello
world

In [7]:
#give me with diff data types in tuple with axis and type
c = (1, "Hello", 3.14, [1, 2, 3], (4, 5, 6), {"key": "value"})
print(c) # (1, 'Hello', 3.14, [1, 2, 3], (4, 5, 6), {'key': 'value'})
print(type(c)) # <class 'tuple'>    
print(c[0]) # 1
print(c[1]) # Hello
print(c[2]) # 3.14
print(c[3]) # [1, 2, 3]
print(c[4]) # (4, 5, 6)
print(c[5]) # {'key': 'value'}
print(type(c[0])) # <class 'int'>   
print(type(c[1])) # <class 'str'>
print(type(c[2])) # <class 'float'>
print(type(c[3])) # <class 'list'>
print(type(c[4])) # <class 'tuple'>
print(type(c[5])) # <class 'dict'>
print(c[3][0]) # 1
print(c[3][1]) # 2      
print(c[3][2]) # 3
print(c[4][0]) # 4
print(c[4][1]) # 5
print(c[4][2]) # 6

(1, 'Hello', 3.14, [1, 2, 3], (4, 5, 6), {'key': 'value'})
<class 'tuple'>
1
Hello
3.14
[1, 2, 3]
(4, 5, 6)
{'key': 'value'}
<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
1
2
3
4
5
6

In [9]:
#tupes can be defined in various ways
d = 1, 2, 3
print(d) # (1, 2, 3)
print(type(d)) # <class 'tuple'>
e = (1,)
print(e) # (1,) 
print(type(e)) # <class 'tuple'>
f = ()
print(f) # ()
print(type(f)) # <class 'tuple'>
a=2,
print(a) # (2,)
print(type(a)) # <class 'tuple'>

(1, 2, 3)
<class 'tuple'>
(1,)
<class 'tuple'>
()
<class 'tuple'>
(2,)
<class 'tuple'>

In [11]:
#indexing in tuple
subjects = ("Math", "Science", "History", "English")
print(subjects[0]) # Math
print(subjects[1]) # Science
print(subjects[2]) # History
print(subjects[3]) # English
print(subjects[-1]) # English
print(subjects[-2]) # History
print(subjects[-3]) # Science
print(subjects[0:2]) # ('Math', 'Science')
print(subjects[1:3]) # ('Science', 'History')
#slicing in tuple
print('---------------------------------')
subjects = ("Math", "Science", "History", "English")
print(subjects[0:2]) # ('Math', 'Science')
print(subjects[1:3]) # ('Science', 'History')
print(subjects[:2]) # ('Math', 'Science')
print(subjects[2:]) # ('History', 'English')
print(subjects[:]) # ('Math', 'Science', 'History', 'English')
print(subjects[::2]) # ('Math', 'History')
print(subjects[1::2]) # ('Science', 'English')
print(subjects[::-1]) # ('English', 'History', 'Science', 'Math')
print(subjects[::-2]) # ('English', 'Science')
print(subjects[1::-1]) # ('Science', 'Math')
print(subjects[2:0:-1]) # ('History', 'Science')
print(subjects[3:1:-1]) # ('English', 'History')
print(subjects[3:0:-1]) # ('English', 'History', 'Science')
print(subjects[3::-1]) # ('English', 'History', 'Science', 'Math')

Math
Science
History
English
English
History
Science
('Math', 'Science')
('Science', 'History')
---------------------------------
('Math', 'Science')
('Science', 'History')
('Math', 'Science')
('History', 'English')
('Math', 'Science', 'History', 'English')
('Math', 'History')
('Science', 'English')
('English', 'History', 'Science', 'Math')
('English', 'Science')
('Science', 'Math')
('History', 'Science')
('English', 'History')
('English', 'History', 'Science')
('English', 'History', 'Science', 'Math')

In [12]:
#cancatination in tuple
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = tuple1 + tuple2
print(tuple3) # (1, 2, 3, 4, 5, 6)
tuple4 = tuple1 * 2
print(tuple4) # (1, 2, 3, 1, 2, 3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)

In [13]:
#in string cancatensttion in tuple
tuple5 = ("Hello", "world")
tuple6 = tuple5 + ("!",)
print(tuple6) # ('Hello', 'world', '!')

('Hello', 'world', '!')

In [15]:
#operations in tuple
tuple7 = (1, 2, 3, 4, 5)
print(len(tuple7)) # 5
print(max(tuple7)) # 5
print(min(tuple7)) # 1
print(sum(tuple7)) # 15
print(tuple7.count(2)) # 1
print(tuple7.index(3)) # 2

5
5
1
15
1
2

In [17]:
# immutable in tuple
tuple8 = (1, 2, 3)
# tuple8[0] = 10 # This would raise an error because tuples are immutable
print(tuple8) # (1, 2, 3)
print('---------------------------------')
#with string
tupe=('Hello', 'world') 
print(tupe) # ('Hello', 'world')

(1, 2, 3)
---------------------------------
('Hello', 'world')

In [18]:
#sort in tuple
tuple9 = (5, 2, 8, 1, 9)
sorted_tuple9 = sorted(tuple9)
print(sorted_tuple9) # [1, 2, 5, 8, 9]

[1, 2, 5, 8, 9]

In [19]:
#type casting in tuple
tuple10 = (1, 2, 3)
list_from_tuple10 = list(tuple10)
print(list_from_tuple10) # [1, 2, 3]

[1, 2, 3]

In [20]:
#nested tuple
nested_tuple = (1, 2, (3, 4), [5, 6], {"key": "value"})
print(nested_tuple) # (1, 2, (3, 4), [5, 6], {'key': 'value'})

(1, 2, (3, 4), [5, 6], {'key': 'value'})

In [22]:
# how many ways to create a tuple
# 1. Using parentheses
# 2. Without parentheses
# 3. Using the tuple() constructor
# now in code thses are all the ways to create a tuple
tuple11 = (1, 2, 3) # Using parentheses
tuple12 = 1, 2, 3 # Without parentheses
tuple13 = tuple([1, 2, 3]) # Using the tuple() constructor  
print(tuple11) # (1, 2, 3)
print(tuple12) # (1, 2, 3)  
print(tuple13) # (1, 2, 3)

(1, 2, 3)
(1, 2, 3)
(1, 2, 3)