In [14]:
# map reduce ,filter

In [15]:
# # map
# #area of a circle 
# import math
# def areaa(r):
#     return math.pi*(r**2)


# radii=[1,2,3,4,5]
# areas=[]
# for r in radii:
#     a=areas(r)
#     areas.append(a)

import math

def areaa(r):
    return math.pi * (r**2)

radii = [1,2,3,4,5]
areas = []

for r in radii:
    a = areaa(r)
    areas.append(a)

print(areas)

[3.141592653589793, 12.566370614359172, 28.274333882308138, 50.26548245743669, 78.53981633974483]

In [16]:
# map function 
list(map(areaa,radii))

[3.141592653589793,
 12.566370614359172,
 28.274333882308138,
 50.26548245743669,
 78.53981633974483]

In [17]:
def celsius_to_fahrenheit(c):
    return (c * 9/5) + 32
celsius_to_fahrenheit(54)

129.2

In [18]:
# now farheneit to celsius
# now farheneit to celsius
def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5 / 9
fahrenheit_to_celsius(87)

30.555555555555557

In [19]:
import statistics
# now filter function 

data=[1,2,3,4,5,6,7,8,8,6,54,]
avg=statistics.mean(data)
print(avg)

9.454545454545455

In [20]:
filter(lambda x: x>avg ,data )

In [21]:
list(filter(lambda x: x>avg ,data ))

[54]

In [22]:
# reduce function
from functools import reduce

# Example: sum all elements in 'data'
a = reduce(lambda x, y: x + y, data)
print(a)

104

In [23]:
# other exampple 
# reduce function is used to apply a function cumulatively to the items of a sequence, from left to right, so as to reduce the sequence to a single value.
# For example, reduce(lambda x, y: x + y, data) will sum all elements in 'data'.

result = reduce(lambda x, y: x * y, data)
print(result)

104509440

In [24]:
# Find elements in 'data' greater than 'avg' using a loop (not filter)
greater_than_avg = []
for x in data:
    if x > avg:
        greater_than_avg.append(x)
print(greater_than_avg)

[54]